<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"></script>
<title>MiddleEarth</title>
</head>
<body>
	<br />
	<form th:action="@{'/login'}" method="post">
		<div class="container">
			<h2>Middle Earth Command Center</h2>
			<div class="row">
				<div class="col-6">
					<div class="form-group">
						<label>Login</label> <input type="text" placeholder="Login"
							name="login" class="form-control">
					</div>
					<div class="form-group">
						<label>Password</label> <input type="password"
							placeholder="Password" name="password" class="form-control">
					</div>
					<button type="submit" class="btn btn-success">Login</button>
					<a class="btn btn-info" href="/sign-up">Don't have an account?
						Sign up!</a>
				</div>
			</div>
		</div>
	</form>
</body>
</html>