<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"></script>
<title>MiddleEarth</title>
</head>
<body>
	<br />
	<div class="container">
		<form>
			<div class="row">
				<br />
				<br />
				<h2 style="text-align: center;">Middle Earth Command Center -
					Soldier Registry</h2>
				<div class="col-6">
					<div class="form-group">
						<label>Login</label> <input type="text" placeholder="Login"
							name="login" class="form-control login">
					</div>
					<div class="form-group">
						<label>Password</label> <input type="password"
							placeholder="Password" name="password"
							class="form-control password">
					</div>
					<div class="form-group">
						<label>I am a...</label> <select class="form-control race">
							<option th:each="race : ${racesEN}" th:value="race"
								th:text="${race}"></option>
						</select>
					</div>
					<div class="form-group">
						<label>Battle Region</label> <select class="form-control region">
							<option th:each="region : ${regionEN}" th:value="${region}"
								th:text="${region}"></option>
						</select>
					</div>
					<button type="button" class="btn btn-success create">Create
						Account</button>
					<a class="btn btn-info" href="/">Cancel</a>
				</div>
				<div class="col-6">
					<div class="alert alert-success created-alert-success" role="alert"
						hidden="true"></div>
				</div>
			</div>
		</form>
	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		crossorigin="anonymous"></script>
	<script th:src="@{/js/signup.js}"></script>
</body>
</html>