<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"></script>
<title>MiddleEarth</title>
</head>
<body>
	<br />
	<br />
	<h1 style="text-align: center;" th:text="${title}"></h1>
	<br />
	<br />
	<div class="container">
		<div class="row">
			<div class="col-4">
				<table>
					<thead>
						<tr role="row">
							<th style="font-size: 30px;">Command List</th>
							<th style="width: 30%"></th>
						</tr>
					</thead>
					<tbody>
						<tr class="alert alert-secondary" role="row"
							th:each="command, index : ${commandList}">
							<td class="alert alert-secondary command"
								th:text="${command.command}"></td>
							<td><button type="button" class="btn btn-success execute"
									th:attr="data-id=${command.id}">Execute</button></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<br /> <br />
	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		crossorigin="anonymous"></script>
	<script th:src="@{/js/troops.js}"></script>
</body>
</html>